<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/users}" th:object="${user}" method="post">
    <input th:field="*{firstName}" type="text" placeholder="First Name">
    <input th:field="*{lastName}" type="text" placeholder="Last Name">
    <input th:field="*{email}" type="text" placeholder="Email">
    <input th:field="*{username}" type="text" placeholder="Username">
    <input th:field="*{password}" type="password" placeholder="Password" >

    <button type="submit"> Submit</button>
</form>
</body>
</html>