<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Field of Wonders</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <a th:href="@{/users/create}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign Up</a>
    <a th:href="@{/login}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Sign In</a>
</div>
</body>
</html>